.header {
  display: flex;
  align-items: center;
  color: var(--primary);
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.header h1 {
  font-weight: 700;
  font-size: 30px;
}
